body{
    background-image: url('img/fundo.jpg');
    background-size:cover; 
    backdrop-filter:blur(10px); 
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    position: relative;
    color: rgba(255,255,255,0.8);
 }
 h1{
    color:rgb(83, 10, 10) ;
    font-size: 1.0; 
    font-weight: bold;
    text-align: center;
}

img{
    width: 350px;
    height: 300px;
    padding: 10px;
    border: 2px solid rgb(194, 164, 119) ;
    border-radius: 5px;
}
nav a {
    color: rgba(59, 13, 13, 0.8);
    text-decoration: none; 
}

nav a:hover {
    color: rgba(59, 13, 13, 0.8);
    text-decoration: underline; 
}
div{
    text-align: center;
}
ul{
    list-style-type: none; 
    padding: 0;
 }
 footer{
    color: rgb(121, 10, 10);
    text-align: center;
    background-color: rgb(224, 196, 153); 
    padding: 10px; 
    text-align: center;
    margin-top: 200px;
}
.product-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item{
    margin: 15px;
    text-align: center;
}
nav a {
    color: rgba(59, 13, 13, 0.8);
    text-decoration: none; 
    font-weight: bold;
}
nav{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0,0,0,0,8);
    padding: 10px;
    border-radius: 5px;
 }